.sign-up {
  padding: 1rem;
  margin: 0.5rem;
  max-width: 400px;
  .input,
  .select {
    margin-bottom: 1rem;
  }
  .select {
    width: 100%;
  }
  h1,
  p {
    text-align: center;
    color: #112d4e;
  }

  h1 {
    text-align: center;
  }
}
