.sign-up {
  padding: 2rem;
  margin: 1rem;
  max-width: 400px;
  .input,
  .select {
    margin-bottom: 1rem;
  }
  .select {
    width: 100%;
  }
  h2,
  p {
    text-align: center;
    color: #112d4e;
  }
}
