.select {
  min-width: 140px;
}
label {
  padding-left: 26px;
  width: 80px;
  display: inline-block;
}

.detail-doctor {
  display: flex;
  align-items: center;
  p {
    font-size: 14px;
  }
}

.ant-row {
  margin-bottom: 6px;
}

.grid {
  display: flex;
  margin: 16px;
  flex-direction: column;
  .row {
    margin: 0;
    .col {
      margin: 6px;
    }
  }
}
