.scheduler {
  min-height: 75vh;
  max-width: 1280px;
  margin: 0 auto;
  .filter {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 16px;
    margin-bottom: 16px;
    border-radius: 6px;
    box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.1);
    .switch {
      width: 24px;
      margin-right: 16px;
    }
    h2 {
      margin-right: 16px;
      margin-bottom: 0;
    }
    span {
      margin-right: 16px;
    }
  }
}

.action-td {
  height: 24px;
}
